#site-block {
    box-sizing: border-box;
    margin: -10px auto;
    width: 60%;
    background-color: rgb(198,191,175);
    padding: 3em;
}

#title {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.8em;
    position: relative;
    bottom: 0.7em;
}

.rolls-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.subtitles {
    position: relative;
    left: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.9em;
}

.ingredients-title {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: 1.5em;
    font-weight: 700;
    font-size: 1.3em;
}

.description-text,
.ingredients-text,
.steps-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

body {
    background-image:url(../images/cinnamon-website-background.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #cccccc;
    background-size: cover;
}