body {
    margin: 0px;
}

.title-bar {
    box-sizing: border-box;
    margin: auto;
    width: 100%;
    max-height: 3em;
    background-color: black;
    padding: 10px;
}

.title {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 2em;
    text-align: center;
    position: relative;
    bottom: 0.8em;
}

.margherita-block {
    box-sizing: border-box;
    margin: auto;
    width: 100%;
    background-color: rgb(213, 213, 180);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 25px;
    border-radius: 10px;
    gap: 30px;
}

.margherita {
    display: block;
    width: 40%;
    height: auto;
    margin-left: auto;
    position: relative;
}

.pizza-img {
    width: 100%;
}

.pizza-img img {
    width: 100%;
    height: auto;
    display: flex;
    object-fit: cover;
    border-radius: 10px;
}

.margherita-text-block .margherita-link-block .margherita-title {
    box-sizing: border-box;
    position: fixed;
}

.left-side-margherita {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    width: 100%;
}